
<div class="form-wrapper h-100" >
  <p *ngIf="submitted && !editMode" class="text-center text-lg py-2">New term has been submitted!</p>
<form *ngIf="!submitted" class="flex-col object-center mt-10 mx-auto h-full-screen content-center" (ngSubmit)="onSubmit()" [formGroup]="newTermForm">
  <h2 class="text-2xl text-center mb-4">{{ editTerm ? 'Edit term' : 'Add new term'}}</h2>
  <div class="block">
    <label for="term" class="text-black-400">Term  </label>
    <input class="py-4 px-2 h-2 focus-within:underline border rounded w-full" 
    type="text" id="term" name="term" [(ngModel)]="editTerm && editTerm.term" formControlName="term" />
  </div>
  <div *ngIf="term?.invalid && (term?.dirty || term?.touched)" class="text-red-400 text-sm mb-4">
    <div [hidden]="!term?.errors?.['required']">
      Term name is required
    </div>
    <div [hidden]="!term?.errors?.['pattern']">
      Latin letters only
    </div>
    </div>
    <div class="block">
      <label for="definition"> Definition </label>
      <input class="py-4 px-2 h-2 border rounded w-full" 
      type="text" id="definition" name="definition" [(ngModel)]="editTerm && editTerm.definition" formControlName="definition" />
    </div>
    <div
    *ngIf="definition?.invalid && (definition?.dirty || definition?.touched)" 
    class="text-red-400 text-sm mb-4">
    <div [hidden]="!definition?.errors?.['required']">
    Definition name is required
    </div>
    </div>
    <button [disabled]="!newTermForm.valid" type="submit" class="inline-block text-white mt-2 px-4 py-2 w-full bg-blue-300 rounded hover:shadow-xs">Submit</button>
    </form>
    <button type="button" class="go-back-btn rounded px-4 py-2 mx-auto"><a routerLink="">Go back</a></button>
</div>
