.feature-image {
  height: 250px;
  width: 250px; }

.review-image {
  height: 80px;
  width: 80px; }

.icon-image, #footer #payment-methods img {
  height: 30px;
  width: 30px; }

#feature1-image {
  background-image: url("../img/1.jpg"); }

#feature2-image {
  background-image: url("../img/2.jpg"); }

#feature3-image {
  background-image: url("../img/3.jpg"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  overflow-x: hidden; }

section, footer {
  padding: 1.5%; }

input, select {
  color: #798C9A; }

.flex-item {
  display: flex;
  gap: 10px; }

.section-title {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  text-align: center;
  font-style: normal;
  font-weight: 400; }

.light-text {
  color: #A0B4C1;
  font-style: normal; }

.blue-text {
  color: #042761; }

.highlighted-text {
  color: #4978C2; }

#banner {
  min-height: 600px;
  width: 95%;
  position: relative;
  background-image: url("../img/0.jpg");
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%; }

#banner-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: 400; }

#banner nav {
  padding: 3% 4%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px; }
  #banner nav .nav-link {
    align-self: center;
    text-align: center;
    display: block;
    max-width: 100px;
    color: #fff; }

.features-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }
  .features-section .feature-box {
    align-self: center;
    width: 60%;
    height: fit-content;
    max-height: 250px;
    border: 1px #042761;
    box-shadow: 0px 0px 10px #D7D7D7;
    margin-bottom: 20px; }
  .features-section .feature-text {
    flex: 70%;
    padding: 2.5%;
    color: #A4ADB1; }
  .features-section .feature-title {
    text-align: center;
    color: #B5BBBD;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    margin-block-end: 0;
    margin-block-start: 0; }
  .features-section .feature-image {
    flex: 0 0 30%; }

#reviews {
  margin: 0 auto;
  max-width: 80%;
  background-color: #956C78;
  flex-wrap: wrap; }
  #reviews .review-box {
    background-color: #9F7A85;
    padding: 3% 1.75%;
    width: fit-content;
    overflow-x: hidden;
    margin-inline: 10px; }
  #reviews .review-image {
    border-radius: 50%;
    float: left; }
  #reviews .review-content {
    word-wrap: break-word;
    text-overflow: ellipsis;
    flex: 0 0 80%;
    margin-left: 15px;
    font-weight: 400; }
  #reviews .review-content p {
    margin-block-start: 0;
    margin-block-end: 0; }
  #reviews .review-content, #reviews .review-by {
    color: #fff; }
  #reviews .review-by {
    display: block;
    font-style: italic; }
  #reviews .review-by::before {
    content: '~'; }

#form {
  background-color: #8195A2;
  margin: 0 auto;
  max-width: 60%;
  max-height: 250px;
  margin-top: 20px; }
  #form form {
    justify-content: center; }
  #form input, #form select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #798C9A; }
  #form input:first-of-type {
    margin-right: 100px; }
  #form select {
    margin-left: 100px; }

#footer {
  margin-top: 20px;
  min-height: 20vh;
  background-color: #375489;
  display: grid;
  grid-gap: 3%;
  grid-template-columns: 1fr minmax(120px, max-content) minmax(120px, max-content) 1fr; }
  #footer #payment-methods img {
    width: auto; }
  #footer form .form-control, #footer form input[type=email], #footer form .send-button {
    width: 100%;
    min-height: 30px;
    border: none;
    outline: none; }
  #footer form input[type=email] {
    background: #fff;
    padding-left: 2%; }
  #footer form .send-button {
    background-color: #042761;
    margin-top: 20px; }
