<h4>Choose difficulty level</h4>
<br />
<div class="flex py-2">
  <label for="easy">Easy</label> 
    <input 
    type="radio" name="level" id="easy" 
    value="Easy"
    class="mx-4"
    [(ngModel)]="chosenLevelValue" (change)="onDifficultyLevelChanged()"
     />
    <label for="medium">Medium</label> 
    <input 
    type="radio" name="level" id="medium" 
    value="Medium"
    class="mx-4"
    [(ngModel)]="chosenLevelValue" (change)="onDifficultyLevelChanged()"
     />
    <label for="hard">Hard</label> 
    <input type="radio" name="level" id="hard" 
    value="Hard"
    class="mx-4"
    [(ngModel)]="chosenLevelValue" (change)="onDifficultyLevelChanged()"
     />
</div>
