$sizes: ("feature": 250px, "review": 80px, "icon": 30px);
$paths: ("feature1": $feature1-path, "feature2": $feature2-path, "feature3": $feature3-path);

@each $name, $size in $sizes{
    .#{$name}-image{
        height: $size;
        width: $size;
    }
}
@each $id, $path in $paths{
    ##{$id}-image{
        background-image: $path;
    }
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow-x: hidden;
   
}
section, footer{
    padding: 1.5%;
}
input, select{
    color: $form-text-color;
}
.flex-item{
    display: flex;
    gap: 10px;
}
.section-title{
    font-family: $sans-pro;
    line-height: 1.5;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}
.light-text{
    color: $light-text-color;
    font-style: normal;
}
.blue-text{
    color: $blue-text-color;
}
.highlighted-text{
    color: $highlighted-text-color;
}
#banner{
    min-height: 600px;
    width: 95%;
    position: relative;
    background-image: $image-path;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
#banner-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: $banner-text-color;
    font-family: $hind;
    font-style: normal;
    font-weight: 400;
}

#banner  nav{
    padding: 3% 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    .nav-link{
        align-self: center;
        text-align: center;
        display: block;
        max-width: 100px;
        color: $nav-link-color;
    }
}



.features-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    .feature-box{
        align-self: center;
        width: 60%;
        height: fit-content;
        max-height: 250px;
        border: 1px $blue-text-color;
        box-shadow: 0px 0px 10px $shadow-color;
        margin-bottom: 20px;
    }
    .feature-text{
        flex: 70%;
        padding: 2.5%;
        color: $box-content-color;
    }
    .feature-title{
        text-align: center;
        color: $box-title-color;
        font-family: $hind;
        font-weight: 400;
        margin-block-end: 0;
        margin-block-start: 0;
    }
    .feature-image{
        flex: 0 0 30%;
    }
   
}

#reviews{
    margin: 0 auto;
    max-width: 80%;
    background-color: $testemonials-background;
    flex-wrap: wrap;
    .review-box{
        background-color: $testemonial-single-background;
        padding: 3% 1.75%;
        width: fit-content;
        overflow-x: hidden;
        margin-inline: 10px;
    }
    .review-image{
        border-radius: 50%;
        float: left;
    }
    .review-content{
        word-wrap: break-word;
        text-overflow: ellipsis;
        flex: 0 0 80%;
        margin-left: 15px;
        font-weight: 400;
    }
    .review-content p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .review-content, .review-by{
        color: $testemonials-text-color;
    }
    .review-by{
        display: block;
        font-style: italic;
    }
    .review-by::before{
        content: '~';
    }
}

#form{
    background-color: $form-primary-background;
    margin: 0 auto;
    max-width: 60%;
    max-height: 250px;
    margin-top: 20px;
    form{
        justify-content: center;

    }
    input, select{
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid $form-text-color;
    }
    input:first-of-type{
        margin-right: 100px;
    }
    select{
        margin-left: 100px;
    }
 
}

#footer{
    margin-top: 20px;
    min-height: 20vh;
    background-color: $footer-background;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 1fr minmax(120px, max-content) minmax(120px, max-content) 1fr;
  #payment-methods img{
      @extend .icon-image;
      width: auto;
  }
  form{
      .form-control{
          width: 100%;
          min-height: 30px;
          border: none;
          outline: none;
      }
      input[type=email]{
        @extend .form-control;
            background: #fff;
            padding-left: 2%;
      }
      .send-button{
        @extend .form-control;
        background-color: $send-button-background;
        margin-top: 20px;
      }
  }
}


@mixin flex-start{
    display: flex;
    justify-content: flex-start;
    gap: 2%;
}