$sans-pro: 'Source Sans Pro', sans-serif;
$hind: 'Hind', sans-serif;
$fresca: 'Fresca', sans-serif;

$image-path: url('../img/0.jpg');
$feature1-path: url('../img/1.jpg');
$feature2-path: url('../img/2.jpg');
$feature3-path: url('../img/3.jpg');
$shadow-color: #D7D7D7;
$nav-link-color: #fff;

$banner-text-color: #fff;
$section-title-color: #393939;
$light-text-color: #A0B4C1;
$box-title-color: #B5BBBD;
$box-content-color: #A4ADB1;

$testemonials-background: #956C78;
$testemonial-single-background: #9F7A85;
$testemonials-text-color: #fff;

$form-primary-background: #8195A2;
$form-text-color: #798C9A;

$form-secondary-background: #8195A2;
$footer-background: #375489;
$highlighted-text-color: #4978C2;
$blue-text-color: #042761;
$send-button-background: #042761;
