$sans-pro: 'Source Sans Pro', sans-serif;
$hind: 'Hind', sans-serif;
$fresca: 'Fresca', sans-serif;

$image-path: url('../img/4.jpg');
$feature1-path: url('../img/5.jpeg');
$feature2-path: url('../img/6.jpg');
$feature3-path: url('../img/7.jpg');
$nav-link-color: #946887;
$banner-text-color: #fff;
$light-text-color: #C7C7C7;

$testemonials-background:#8E6E8E;
$testemonial-single-background: #D39FCF;

$form-background: #A384A4;
$form-text-color: #886687;

$footer-background: #633A89;
$send-button-background: #580161;
$highlighted-text-color: #9645C7;